:root{
--azulClaro: #2793FF;
--azulEscuro: #111E6C;
--roxo: #A10091;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--azulClaro);
    opacity: 1; /* Firefox */
}
.navbar > div{
    height: 100px;
}

/*Fonts*/
@font-face {
    font-family: title;
    src: url("../fonts/title.ttf");
}
@font-face {
    font-family: text-bold;
    src: url("../fonts/text-bold.ttf");
}
@font-face {
    font-family: text-regular;
    src: url("../fonts/text-regular.ttf");
}
@font-face {
    font-family: text-thin;
    src: url("../fonts/text-thin.ttf");
}

/* Background */
.bg-azulClaro{
    background-color: var(--azulClaro);
}
.bg-azulEscuro{
    background-color: var(--azulEscuro);
}
.bg-roxo{
    background-color: var(--roxo);
}

/*Border*/
.b-azulClaro{
    border: 3px solid var(--azulClaro);
}
.b-azulEscuro{
    border-color: var(--azulEscuro);
}
.b-roxo{
    border-color: var(--roxo);
}

/*font-color*/
.azulClaro{
    color: var(--azulClaro);
}
.azulEscuro{
    color: var(--azulEscuro);
}
.roxo{
    color: var(--roxo);
}
.branco{
    color: white;
}

/*fonts*/
.f-title-150{
    font-family: title;
    font-size: 150%;
}
.f-title{
    font-family: title;
}
.f-text{
    font-family: text-regular;
}
.f-text-bold{
    font-family: text-bold;
}
.f-text-thin{
    font-family: text-thin;
}
/*Carousel*/
.img-carousel{
    max-height: 400px;
    overflow: hidden;
}
.img-carousel img{
    margin-top: -20%;
}

/*Cadastrado home*/
.cadCurriculo{
    height: 300px;
    background-image: url("../img/pessoa.png");
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.cadEmpresa{
    height: 300px;
    background-image: url("../img/empresa.png");
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

/*Rounded*/
.rounded-left{
    border-top-left-radius: 2rem!important;
    border-bottom-left-radius: 2rem!important;
}
.rounded-right{
    border-top-right-radius: 2rem!important;
    border-bottom-right-radius: 2rem!important;
}

/*rounded-circle*/
.circle{
    width: 100px;
    height: 100px;
}