:root {
    --azulClaro: #2793FF;
    --azulEscuro: #111E6C;
    --roxo: #A10091;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--roxo);
    opacity: 1;
    /* Firefox */
}

.navbar>div {
    height: 100px;
}


/*Fonts*/

@font-face {
    font-family: title;
    src: url("../fonts/title.ttf");
}

@font-face {
    font-family: text-bold;
    src: url("../fonts/text-bold.ttf");
}

@font-face {
    font-family: text-regular;
    src: url("../fonts/text-regular.ttf");
}

@font-face {
    font-family: text-thin;
    src: url("../fonts/text-thin.ttf");
}


/* Background */

.bg-azulClaro {
    background-color: var(--azulClaro);
}

.bg-azulEscuro {
    background-color: var(--azulEscuro);
}

.bg-roxo {
    background-color: var(--roxo);
}

.bg-branco {
    background-color: white;
}


/*Border*/

.b-azulClaro {
    border: 1px solid var(--azulClaro);
}

.b-azulEscuro {
    border-color: var(--azulEscuro);
}

.b-roxo {
    border: 2px solid var(--roxo);
}

.b-branco {
    border: 1px solid white;
}


/*font-color*/

.azulClaro {
    color: var(--azulClaro);
}

.azulEscuro {
    color: var(--azulEscuro);
}

.roxo {
    color: var(--roxo);
}

.branco {
    color: white;
}


/*fonts*/

.f-title-150 {
    font-family: title;
    font-size: 150%;
}

.f-title {
    font-family: title;
}

.f-text {
    font-family: text-regular;
}

.f-text-80 {
    font-family: text-regular;
    font-size: 85%;
}

.f-text-bold {
    font-family: text-bold;
    padding-bottom: 0;
}

.f-text-thin {
    font-family: text-thin;
}


/*Carousel*/

.img-carousel {
    max-height: 200px;
    overflow: hidden;
}

.img-perfil {
    width: 200px;
    height: 200px;
}


/*Cadastrado home*/

.cadCurriculo {
    height: 300px;
    background-image: url("../icon/pessoa.svg");
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.cadEmpresa {
    height: 300px;
    background-image: url("../icon/empresa.svg");
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: bottom right;
}


/*Rounded*/

.rounded-left {
    border-top-left-radius: 2rem!important;
    border-bottom-left-radius: 2rem!important;
}

.rounded-right {
    border-top-right-radius: 2rem!important;
    border-bottom-right-radius: 2rem!important;
}


/*rounded-circle*/

.height75 {
    height: 75px;
}


/*card*/

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(2.25rem - 1px);
    border-top-right-radius: calc(2.25rem - 1px);
}

.card {
    border: none;
    background: none;
    box-shadow: 0px 5px 5px#00000024;
    border-radius: 2.25rem;
}

.card-deck .card {
    margin-bottom: 15px;
}


/*modal*/

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: normal;
    text-shadow: none;
    opacity: unset;
}

.modal-header .close {
    padding: 1.5rem 1.5rem;
}


/* Lista */

ul {
    list-style: none;
}


/* Grafismos */

.grafismo {
    background-image: url('../img/grafismo.png');
}

.check {
    border-radius: 100%;
}

.pointer {
    cursor: pointer;
}